body {
    font-family: Verdana;
}
table {
    border-collapse: collapse;
    margin: auto;
    text-align: center;
}
h1 {
    text-align: center;
    color: purple;
}
table caption {
    font-size: 25px;
    color: red;
    
} 
th {
    border: 1px solid black;
    width: 100px;
    background-color: lightcoral;
    text-align: center;
    font-size: 25px;
    padding: 30px;
}
td {
    border: 1px solid black;
    text-align: center;
    font-size: 25px;
    padding: 30px;
}

/* CLASES */

.lmsgi {
    background-color: cyan;
}
.bd {
    background-color: orange;
}
.ped {
    background-color: greenyellow;
}
.si {
    background-color: aquamarine;
}
.tut {
    background-color: pink;
}
.an {
    background-color: gainsboro;
}
.diw {
    background-color: yellow;
}
.ipoi {
    background-color: burlywood;
}
.descans {
    font-size: 20px;
    padding: 15px;
}
.horas {
    font-size: 20px;
    padding: 10px;
    width: 180px;
}